.results__table-container {
    overflow-x: scroll;
    margin: 0 20px;
    border: 1px solid #EEE;
}

.results__table {
    width: 100%;
    background: rgba(220,220,220);
}

.table__head {}

.table__row {
    /* width: 100%; */
    /* display: flex; */
}
.table__row--head {
    color: white;
    background: rgba(0,0,0,0.6);
}

.table__row--body {
    background: white;
}

.table__row--body:nth-child(even) {
    background: rgb(240,240,240);
}

.table__body {}


.table__cell {
    padding: 8px;
    padding-left: 15px;
    text-align: left;
    min-width: 190px;
    word-wrap: break-word;
}

.table__cell:nth-child(6){
    min-width: 110px;
}
.table__cell:nth-child(7){
    min-width: 150px;
}

.table__cell--head {
    padding-top: 12px;
    padding-bottom: 12px;
}

.table__cell--body {
}
